
</div>
<footer class="container-fluid text-center">
  <p>Source 2019™</p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="/socket.io/socket.io.js" type="text/javascript"></script>
<script type="text/javascript">

	

	var socket = io('/conversations');

	var typingTimeout,
		timeoutCleared = true;

	socket.emit('convoJoin', {convoID: "<%= conversation._id %>"});


	//user is in convo notification===================================

	//initially check if friend is online.
	socket.emit('isFriendInConvo', {convo: "<%= conversation._id %>"});

	//every 30 seconds, ask the server if the friend is online
	var checkIfFriendOnline = setInterval(() => {
		socket.emit('isFriendInConvo', {convo: "<%= conversation._id %>"});
	}, 30000);


	//Todo, improve the front end of these notifications:

	socket.on('friendIsInConvo', (data) => {
		$("#inConvoIndicator").val(`${friend.username} is online...`);
	});

	socket.on('friendIsNotConvo', () => {
		$("#inConvoIndicator").val(`${friend.username} is offline...`);
	});

	//================================================================

	//User is typing notification=====================================
	$(".messageForm").on("keydown", function(){

    	// if(e.keyCode === 13){
    	// 	e.preventDefault();
    	// 	$("#messageSubmit").click()
    	// }

    	if(timeoutCleared){
    		socket.emit('imTyping', {user: currentUser, convo: "<%= coonversation._id %>"});
    		timeoutCleared = false;
    		typingTimeout = setTimeout(() => {
    			timeoutCleared = true;
    		}, 3000);
    	}

    });


	//Flash '<username> is typing'
    socket.on('friendTyping', (data) => {

    	$("#typingNotification").val(`${data.user.username} is typing...`);

    	var typeFlash = setInterval(() => {
    		$("#typingNotification").fadeIn("slow", () => {
    			$("#typingNotification").fadeOut("slow");
    		});
    	}, 500);

    	//after 3 seconds, stop the above interval flashing.
    	var clearTypeNotification = setTimeout(() => {
    		clearInterval(typeFlash);
    		$("#typingNotification").fadeOut("slow");
    	}, 3000);

    });

	//================================================================
    


	//send a message
	$(".conversationForm").on("submit", function(e){

		e.preventDefault();
		var newMessage = `<li class='media commentContainer'>
                                <a href='/users/<%=currentUser._id%>' class='pull-left'>
                                    <img src='<%= currentUser.avatar %>' alt='' class='img-circle'/> 
                                </a>
                                <div class='media-body'>
                                    <p>` +
                                        $(".messageForm").val()
                                        + `
                                    </p>
                                </div>
                            </li>`;
        $(".conversationList").prepend(newMessage);

		socket.emit('newMessage', {message: $(".messageForm").val(), convo: "<%=conversation._id%>"});

		$(".messageForm").val("");



	});

	//receive a message
	socket.on("incomingMessage", (data) => {
		var newMessage = `<li class='media commentContainer'>
                                <a href='/users/` + data.user._id + `' class='pull-left'>
                                    <img src='` + data.user.avatar + `' alt='' class='img-circle'/> 
                                </a>
                                <div class='media-body'>
                                    <p>` +
                                        data.message
                                        + `
                                    </p>
                                </div>
                            </li>`;
		$(".conversationList").prepend(newMessage);
	});

	// socket.emit('newMessage', {message: "Hello there!", convo: "<%=conversation._id%>"});

	// socket.on('messageSent', (data) => {
	// 	console.log("<%= currentUser.username %> has received a message!");
	// });


	$("#categorySelect").on("change", function ()
	{
	    $("#categoryForm").submit();

	});



</script>
</body>
</html>
